.done-btn-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: 0 0 1.4em;
  width: 100%;
}

.done-btn-filter {
  align-items: center;
  display: flex;
  gap: 0.6em;
  width: 17%;
}

.done-btn-filter > img {
  width: 100%;
}

.done-btn-filter > p {
  color: #63676e;
  font-size: 15px;
  font-weight: 300;
}

.done-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  margin-bottom: 3em;
}

.done-card-container {
  align-self: center;
  border: 0.5px solid #b1b1b1a9;
  border-radius: 7px;
  display: flex;
  justify-self: center;
  position: relative;
  width: 90%;
}

.done-card-img-container {
  width: 50%;
}

.done-card-img-container > img {
  border-radius: 7px 0 0 7px;
  width: 100%;
}

.done-link {
  padding: 1.6em 1em;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: 50%;
}

.done-link > h2 {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.done-link > h5 {
  color: #797d86;
  font-size: 13px;
  font-weight: 300;
}


.done-info-container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 3px;
  position: absolute;
  right: 20%;
  top: 55%;
}

.done-info-container > p {
  margin: 0;
}

.done-card-container > button {
  bottom: 9%;
  position: absolute;
  right: 5%;
  width: 25px;
}

.done-card-container > button > img {
  width: 110%;
}

.done-tag-container {
  bottom: 0;
  display: flex;
  gap: 0.3em;
  left: 57%;
  position: absolute;
  width: 41%;
}

.done-tag {
  background-color: #d9d9d9;
  border-radius: 10px;
  color: #797d86;
  font-size: 9px;
  padding: 2px 3px;
}

@media only screen and ( max-width : 376px ) {

  .done-date {
    right: 8%;
  }

  .done-times {
    right: 15.5%;
    top: 70%;
  }
}
